
body {
 font-family: 'Open Sans', "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.78571em;
  color: #1c1c1c;
  background-color: #ffffff;

}
 


#contenido-principal {
height: 365px;
width: 100%;
text-align:left;
}
 
 

 
#container {
width: 100%;

}
 


#cabecera > nav {
  margin: 0;
  border-radius: 0 !important;
  border: none;
  border-bottom: 1px solid #c9c9c9;
}



#main{
  position:absolute;
  top:80px;    /*La altura de la cabecera*/
  bottom:40px;      /*Altura del pie de página*/

} 




.form-group{
    vertical-align: middle;
    padding: 10px;
    text-align: center; 
    float: none; 
    margin: 0 auto; 
    display: block; 
    width: auto; 
    height: auto;

}

.checkbox{
	vertical-align: middle;
    padding: 10px;
    text-align: center; 
    float: none; 
    margin: 0 auto; 
    display: block; 
    width: auto; 
    height: auto;
}

.btn-login{ 
	color:#333;
	background-color:#fff;
	border-color:#ccc 
	width: 100%;
	height: 24px;
}

.btn-default{ 
	color:#333;
	background-color:#fff;
	border-color:#ccc 
	width: 100%;
	height: 24px;
}


.form-control{
	display: block;
	width: 90%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}
