/**
 * Hoja de estilo de la pagina.
 */
#galeria {
  position: relative;
  width: 100%;
}
#galeria .contenedor-imagenes {
  position: relative;
}
#galeria .contenedor-imagenes .grid {
  position: relative;
  margin: 10px;
}
#galeria .contenedor-imagenes .grid .grid-item {
  position: relative;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 541px) {
  #galeria .contenedor-imagenes .grid .grid-item {
    width: 25%;
  }
}
#galeria .contenedor-imagenes .grid .grid-item img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
#galeria .contenedor-imagenes .grid .grid-item figcaption {
  display: none;
}
