#logo-uls {
    padding: 10px;
    width: 100px;
    height: 10opx;
}
        
.navbar-nav > li > a {
    padding: 26px;
    margin-right: 14px;
}

.sign-out {
    border-left: 1px solid #e7e7e7;
}

.logo-uls {
    border-right: 1px solid #e7e7e7;
}

#descripcion_fotografia{
  resize: none;
}

#activar{
	text-align: top;
}

.col-center{
  margin:0 auto;
}
