#galeria {
	position: relative;
	width: 100%;
	.contenedor-imagenes {
		position: relative;
		.grid {
			position: relative;
			margin: 10px;
			.grid-item {
				position: relative;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
				padding-top: 10px;
				padding-bottom: 10px;
				@media (min-width: 541px) {
			    width: 25%;
			  }
				img {
					max-width: 100%;
					width: 100%;
					height: auto;
				}
				figcaption {
					display: none;
				}
			}
			
		}
	}
}