//varaibles generales.
$font-size: 14px;
$line-height: 1.785714286em;
$color: #1c1c1c;
$color-1: #1ea1d6;
$color-2: #1e8ad6;
$color-3: #5fc0e7;
$color-4: #66c1e4;
$color-5: #21a5db;
$color-6: #108bbd;
$background-color: #ffffff;
$border-color: #c9c9c9;

//galeria.
$galeria-titulo-font-size: 24px;
$galeria-titulo-font-weight: 300;
$galeria-mostrar-filtros-padding: 20px;
$galeria-collapse-padding: 40px;
$galeria-collapse-bg-color: #f9f9f9;
$galeria-todos-margin-bottom: 20px;
$galeria-titulo-filtro-font-weight: 700;
$galeria-titulo-margin-bottom: 15px;
$galeria-valor-margin-bottom: 10px;
$galeria-valor-icono-padding-right: 10px;
$galeria-buscar-font-size: 30px;
$galeria-buscar-font-weight: 400;
$galeria-buscar-margin-top: 60px;
$galeria-texto-otro-margin-top: 10px;

//paginacion.
$pag-boton-width: 40px;
$pag-boton-height: $pag-boton-width;
$pag-boton-border: 1px solid $border-color;
$pag-boton-padding: 5px;
$pag-padding: 100px 0 60px 0;
